body {
    background-image: url('pictures/Blue\ Geometric\ Background\ Poster.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: border-box;
}
.content {
    flex: 1;
    padding: 20px;
}
h1 {
    color: white;
    font-size: 60pt;
    text-align: center;
}

h2 {
    color: black;
    font-size: 45pt;
}

p {
    font-size: 20pt;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-wrap: around;
}

.profile-picture {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.image-container {
    text-align: center;
}

#contact {
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

#about {
    padding: 60px 20px;
    background-color: #fff;
}

#about h2 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
}

#about p {
    font-size: 1.2em;
    color: #555;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tab {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 24px;
}

.tabs ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0;
}

.tabs ul li {
    margin: 0 15px;
}

.tabs ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tab-bar ul li a:hover {
    background-color: white;
}


section {
    padding: 100px 20px;
    margin-top: 60px;
    max-width: fit-content;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

section h2 {
    font-size: 2em;
    color: black;
    margin-bottom: 10px;
}

section p {
    font-size: 1.2em;
    color: grey;
}

footer {
    padding: 20px;
    color: white;
    text-align: center;
}

.social-links a {
    color: greenyellow;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
